.parent_image_box{
    display: flex;
    flex-wrap:wrap;
}

.imgBox{
    position: relative;
    margin: 3px;
    border-radius: 2px;
    overflow: hidden;
}
.imgBox .deleteIconModeling{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    width: 20px;
    height: auto;
    padding: 4px;
    border-radius: 5px;
}