#modelingHeroSection{
    background-image: url('../../assets/ModelingPageImage/maintained-garden-with-artificial-turf-3-1280x731.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#modelingHeroSection .modeling_hero_section_overly_color{
    background-color: rgba(0, 0, 0, 0.473);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modelingHeroSection .modeling_hero_section_overly_color .modeling_hero_section_text p{
    color: white;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    position: relative;
    transition: 0.5s;
}
#modelingHeroSection .modeling_hero_section_overly_color .modeling_hero_section_text p::after{
    position: absolute;
    content: '';
    height: 3px; 
    width: 30px;
    left: 48%;
    bottom: -15px;
    border-radius: 20px;
    background-color: black;
}
#modelingHeroSection .modeling_hero_section_overly_color .modeling_hero_section_text h2{
    font-weight: 700;
    font-size: 3.75rem;
    color: white;
}

/* Responsive About Page _______________________________________________ */
@media only screen and (max-width: 768px) {
    #modelingHeroSection .modeling_hero_section_overly_color{
        min-height: 300px;
    }
}
@media only screen and (max-width: 520px) {
    #modelingHeroSection .modeling_hero_section_overly_color{
        min-height: 250px;
    }
}