.landing_page{
     background-image: url('../../assets/Texas-home-with-a-lush-artificial-grass.webp');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.landing_page_hero_text{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 1px 1px BLACK;
}

.landingPageButtonPrenentDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 50px 0;
}

.landingPageButtonDiv .heroBtnStyle{
    position: relative;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    margin: 5px;
    text-decoration: none;
    border: 2px solid white !important;
    padding: 10px 30px;
    transition: 0.5s;
    z-index: 1;
}
.landingPageButtonDiv .heroBtnStyle::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    transform: scale(0);
    transition: 0.5s;
    z-index: -1;
}

.landingPageButtonDiv .heroBtnStyle:hover::after{
    background-color: rgb(255, 255, 255);
    transform: scale(1);
}
.landingPageButtonDiv .heroBtnStyle:hover{
    color: black;
}


/* Responsive Hero Section _________________________ */
@media only screen and (max-width: 768px) {
    .landing_page_hero_text{
        font-size: 2.2rem;
    }

    .landingPageButtonDiv .heroBtnStyle{
        font-size: 18px;
        font-weight: bold;
        padding: 6px 20px;
    }
}
@media only screen and (max-width: 462px) {
    .landing_page_hero_text{
        font-size: 1.8rem;
    }

    .landingPageButtonPrenentDiv{
        display: block;
    }
    .landingPageButtonDiv .heroBtnStyle{
        display: block;
        text-align: center;
    }
}


