@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');

:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: auto;

  /* color-scheme: light dark; */
  color: rgba(22, 22, 22, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  margin: 0;
  display: flex;
  justify-content: center;
} */
h1 h2 h3 h4 h5 h6{
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
p{
  font-family: 'Noto Sans', sans-serif;
}
article{
  font-family: 'Noto Sans', sans-serif;
}
li{
  font-family: 'Noto Sans', sans-serif;
}
span{
  font-family: 'Noto Sans', sans-serif;
}

